body {
  min-height: 100vh;
}
.formPage {
  width: 40vw;
  box-shadow: 5px 8px 10px rgb(0, 0, 0);
  border-radius: 8px;
  margin: 10px 32%;
  padding: 20px;
  /* background-color: rgba(255, 255, 255, 0.5); */
  /* backdrop-filter: blur(15px); */
  background-color: rgba(255, 255, 255, 0.4);
}
.form-check {
  margin: 5px 0;
}
label {
  font-weight: 500;
}
.success {
  color: green;
}
.error {
  color: red;
}
header a {
  text-decoration: none;
  color: brown;
  font-size: 10px;
}
